name: Analytics ve & vlcvx V3

on:
  workflow_dispatch: # Allows the workflow to be triggered manually
  schedule:
    - cron: "*/10 20-23 * * 3" # Every 10 minutes, the Wednesday, from 10pm to 0am
    #- cron: "*/10 0-1   * * 4" # Every 10 minutes, the Thursday, from 0am to 3am

env:
  TARGET_DEVOPS_DIR: target-devops
  DEVOPS_DIR: devops
  WEB3_INFURA_PROJECT_ID: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
  ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN }}
  WEB3_ALCHEMY_API_KEY: ${{ secrets.WEB3_ALCHEMY_API_KEY }}
  WORKER_USERNAME: ${{ secrets.WORKER_USERNAME }}
  WORKER_PASSWORD: ${{ secrets.WORKER_PASSWORD }}
  MODE: ${{ github.event.inputs.mode || 'execute' }} # Set a default value for mode

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the votemarket-analytics-v2 repo
        uses: actions/checkout@v4
        with:
          repository: stake-dao/automation-jobs
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
          path: ${{ env.DEVOPS_DIR }}
          ref: main

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r ${{ env.DEVOPS_DIR }}/requirements.txt
        shell: bash

      - name: Run the ve snapshot
        run: |
          cd ${{ env.DEVOPS_DIR }}
          python script/votemarket/analytics_v2/snapshot_ve.py
        shell: bash
        env:
          PYTHONPATH: script/
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          AGNOSTIC_KEY: ${{ secrets.AGNOSTIC_KEY }}
      
      - name: Run the vlcvx snapshot
        run: |
          cd ${{ env.DEVOPS_DIR }}
          python script/votemarket/analytics_v2/snapshot_vlcvx.py
        shell: bash
        env:
          PYTHONPATH: script/
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          AGNOSTIC_KEY: ${{ secrets.AGNOSTIC_KEY }}

      - name: Run the vlaura snapshot
        run: |
          cd ${{ env.DEVOPS_DIR }}
          python script/votemarket/analytics_v2/snapshot_vlaura.py
        shell: bash
        env:
          PYTHONPATH: script/
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_TOKEN }}
          AGNOSTIC_KEY: ${{ secrets.AGNOSTIC_KEY }}

      - name: Checkout target repository
        uses: actions/checkout@v4
        with:
          repository: stake-dao/votemarket-analytics
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
          path: ${{ env.TARGET_DEVOPS_DIR }}
        if: always()

      - name: Copy JSON files to target repo
        run: |
          mkdir -p "${GITHUB_WORKSPACE}/${{ env.TARGET_DEVOPS_DIR }}/analytics/votemarket-analytics"
          cp -r "${{ env.DEVOPS_DIR }}/json/votemarket-analytics/"* "${GITHUB_WORKSPACE}/${{ env.TARGET_DEVOPS_DIR }}/analytics/votemarket-analytics/"

      - name: Commit and push changes to repo
        run: |
          cd "${GITHUB_WORKSPACE}/${{ env.TARGET_DEVOPS_DIR }}"
          git config user.email "actions@github.com"
          git config user.name "Stake DAO Automation"
          git add .
          git commit -m "$(date +"%Y-%m-%d %H:%M:%S"): Auto-update analytics ve and vl data"
          git push
        shell: bash
        if: always()
